.hidden {
    display: none;
}

.visible {
    display: flex;
}



.popup{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: fixed;
}

.popup_informations{
    position: relative;
    top: 200px;
    width: 40%;
    min-height: 50%;
    background: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_informations h2 {
    font-size: 40px;
    padding-top: 24px;
}

.popup_informations img {
    width: 250px;
}

.popup_informations h3 {
    font-size: 32px;
}
