.hidden {
    display: none;
}

.visible {
    display: flex;
}



.popup{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: fixed;

}

.popup__informations{
    position: relative;
    top: 200px;
    width: 40%;
    min-height: 50%;
    background: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

@media screen and (max-width: 800px) {
    .popup__informations{
        width: 80%;
        top: 50px;
    }
}


.popup__informations h2 {
    font-size: 40px;
    padding-top: 24px;
}

.popup__informations img {
    width: 250px;
}

.popup__informations h3 {
    font-size: 32px;
}
